<div id='homepage-map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY2hpZHJvbWUiLCJhIjoiY2pxbWt4N3YxMHc3dTQ4bHI4YTZuMHJwNSJ9.C2FzPaz5TVcpwLzvYQAYIg';
var map = new mapboxgl.Map({
    container: 'homepage-map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [<%- cityCenter.center %> ],
    zoom: 12,
    pitch: 0,
    bearing: 0
});

map.on('load', function () {
    map.addLayer({
        "id": 'points',
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [<%- markers %>]
            }
        },
        "layout": {
            "icon-image": "{icon}-15",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        }
    });

    map.on('click', 'points', function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Make sure that if the map is zoomed out such that multiple copies of the feature are visible.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
            .setLngLat(coordinates)
            .setHTML(description)
            .addTo(map);
    });

    // Change the cursor to a pointer when the mouse is over the places layer.
    map.on('mouseenter', 'points', function () {
        map.getCanvas().style.cursor = 'pointer';
    });

    // Change it back to a pointer when it leaves.
    map.on('mouseleave', 'points', function () {
        map.getCanvas().style.cursor = '';
    });
});

// fly to restaurant function
function flyToRestaurant(lat, long) {
  map.flyTo({
    center: [long, lat],
    zoom: 16,
    pitch: 75,
    bearing: 0
  });
}

</script>