<div id="map-container">
    <% include homepage-map.ejs %>
</div>

    <div class="search-container z-depth-5">
        <h5 class="center">Where's your next adventure</h5>
        <form method="POST" action="/search">
            <div class="row">
                <div class="input-field col s8">
                    <input type="text" name="restaurantName" placeholder="Restaurant, Cuisine">
                </div>
                <div class="input-field col s4">
                    <input  type="text" name="cityState" placeholder="City, State" required>  
                </div>
                <input class="btn waves-effect waves-light blue" type="submit" value="Search">
            </div>
        </form>
    </div>

