<div class="z-depth-5" id='homepage-map'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiY2hpZHJvbWUiLCJhIjoiY2pxbWt4N3YxMHc3dTQ4bHI4YTZuMHJwNSJ9.C2FzPaz5TVcpwLzvYQAYIg';
var map = new mapboxgl.Map({
    container: 'homepage-map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [-100, 39.5],
    zoom: 3.80,
    pitch: 0,
    bearing: 0
});

map.on('load', function () {
    map.addLayer({
        "id": 'points',
        "type": "symbol",
        "source": {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [<%- markers %>]
            }
        },
        "layout": {
            "icon-image": "{icon}-15",
            "text-field": "{title}",
            "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
            "text-offset": [0, 0.6],
            "text-anchor": "top"
        }
    });
});
</script>