<!DOCTYPE html>
<html>
<head>
	<title>Yelp API</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<nav>
		<div class="nav-wrapper navbar-transition cool-navbar">
				<% if(!user) { %>
					<a href="/auth/signup" class="right">Sign Up</a>
					<a href="/auth/login" class="right">Login</a>
					<a href="/"><i class="material-icons left">cloud</i>Home</a>
				<% } else { %>
					<a href="/auth/logout" class="right">Logout</a>
					<% if(user.admin) { %>
						<a href="/profile/admins" class="right">Admin Page</a>
					<% } %>
					<a href="/"><i class="material-icons left">cloud</i>
					<a href="/profile" class="left"><%= user.first_name %></a>
				<% } %>
				
		</div>
	</nav>
	<div class="container">
		<% include partials/alerts %>
		<%- body %>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.datepicker');
		    var instances = M.Datepicker.init(elems, {
		    	autoClose: false,
		    	maxDate: new Date(),
		    	yearRange: [1985, 2019]
		    });
  		});
	</script>
</body>
</html>