<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
	<title>Yelp API</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
</head>
<body>
<div class="fixed-action-btn">
  <a class="btn-floating z-depth-0 btn-large blue">
    <i class="large material-icons">menu</i>
  </a>
	<ul>
		<% if (user) { %>
			<li><a class="btn-floating z-depth-0 blue" href="/profile"><i class="material-icons">account_box</i></a></li>
		<% } %> 
			<li><a class="btn-floating z-depth-0 blue" href="/restaurants"><i class="material-icons">search</i></a></li>
			<li><a class="btn-floating z-depth-0 blue" href="/"><i class="material-icons">home</i></a></li>
  </ul>
</div>
	<nav class="blue">
		<div class="nav-wrapper navbar-transition cool-navbar">
				<% if(!user) { %>
					<a href="/auth/signup" class="right layoutAnchors">Sign Up</a>
					<a href="/auth/login" class="right layoutAnchors">Login</a>
				<% } else { %>
					<a href="/auth/logout" class="right layoutAnchors">Logout</a>
					<a href="/friends" class="right layoutAnchors">Find Friends</a>
					<a href="/favorites" class="right layoutAnchors">Favorites</a>
					<% if(user.admin) { %>
						<a href="/profile/admins" class="right">Admin Page</a>
					<% } %>
					<a href="/profile" class="right layoutAnchors"><%= firstCapitalization(user.first_name) %></a>
				<% } %>
				
		</div>
	</nav>
	<div class="container">
		<% include partials/alerts %>
		<%- body %>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">

		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.fixed-action-btn');
			var instances = M.FloatingActionButton.init(elems, {
				direction: 'right'
			});
		});

		document.addEventListener('DOMContentLoaded', function() {
		    var elems = document.querySelectorAll('.datepicker');
		    var instances = M.Datepicker.init(elems, {
		    	autoClose: false,
		    	maxDate: new Date(),
		    	yearRange: [1985, 2019]
		    });
		  });
		  
	</script>
</body>
</html>