nav {
	background-color: rgb(60, 34, 175) !important;
	min-height: 50px;
	padding: 10px 0 0 10px;
	box-shadow: none !important;
}

nav a {
	margin: 10px 0 0 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 28px;
	line-height: 50px;
}

nav a:hover {
	color: rgb(6, 101, 133);
}

a {
	margin: 0px 15px 0 0 !important;
	vertical-align: bottom !important;
}

i {
	vertical-align: middle !important;
	display: inline-block !important;
}

form {
	padding: 0 !important;
}

#map {
    position: fixed;
    width: 100%;
    /* margin: 20px auto; */
	height: 100%;
	margin-left: -7.5%;
}

#homepage-map {
	position: fixed;
	width: 100%;
	height: 100%;
}

#home-content {
	position: absolute;
}

#map-container {
	position: fixed;
	margin-left: -7.5%;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
	position: fixed;
}

.card-picture {
	width: auto;
	height: 300px;
}

.card-content {
	padding: 1rem !important;
}

.container {
	width: 85% !important;
}

.search-container {
	position: absolute;
	left: 2%;
}

.title-results {
	font-weight: 600 !important;
	width: 100% !important;
	padding: 5px !important;
	font-size: 22px !important;
	background-image: linear-gradient(to right, rgb(107, 105, 105, .4), rgb(247, 247, 247, 0));
}

.yelp-logo {
	position: absolute;
	width: 60px;
	height: auto;
	right: 2%;
	bottom: 0%;
}

.btn-floating {
	right: 10px !important;
}

.profilePic {
	width: auto !important;
	padding: .40rem .75rem 0 .75rem !important;
}

.profileImg {
	max-width: 200px;
}

.profileButton {
	background: none;
	border: none;
	padding: 0;
	color: blue;
}

.profileButton:hover {
	color: red;
	cursor: pointer;
}

.row {
	padding: 5px !important;
}

.friends-box {
	position: absolute;
	right: 10% !important;
}

.restaurant-list {
	margin: 0 0 5px 0 !important;
	padding: 0 !important;
}

.restaurant-container {
	position: absolute;
	left: 2%;
}