<div>
    <% include ../map.ejs %>
</div>

<div class="col s10 offset-s2 search-container">
    <div class="row">
        <h3>My Favorites</h3>
        <div class="col s4">
            <% results.restaurants.forEach((r)=>{ %>
                <div class="row restaurant-list">
                    <input type="submit" value="<%= r.name %>" onclick="flyToRestaurant(<%= r.lat %>, <%= r.long %>)">
                </div>
            <% }) %>
        </div>
    </div>
</div>

