
    <h2>Search for your restaurant</h2>
    <form method="POST" action="/restaurants/search">
        <div class="row">
            <div class="input-field col s9">
                <input type="text" name="restaurantName" placeholder="Restaurant, Cuisine">
            </div>
            <div class="input-field col s3">
                <input  type="text" name="cityState" placeholder="City, State">  
            </div>
        </div>
        <input class="btn waves-effect waves-light blue white-text" type="submit" value="Search">
    </form>