

<div class="container">
    <h2>Search for you restaurant</h2>
    <form method="POST" action="restaurants/search">
        <div class="row">
            <div class="input-field col s5">
                <input type="text" name="city" placeholder="City">
            </div>
            <div class="input-field col s5">
                <input  type="text" name="state" placeholder="State">  
            </div>
        </div>
        <input type="submit" value="Search">
    </form>
</div>